.blog-item {
  /* background: rgba(0, 0, 0, 0.15); */
  background: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 7.5px;
}

.blog-item h1 {
  color: var(--font-purple-dark);
}

.blog-item .summary {
  color: var(--font-purple);
}
